localhost {
	handle /socket.io* {
		reverse_proxy express:3000
	}

	handle /api* {
		reverse_proxy express:3000
	}

	# Then, handle everything else with static file serving
	handle {
		root * /srv
		encode gzip
		try_files {path} {path}/ /index.html
		file_server
	}
}
